<div class="wrapper">
    <div *ngIf="!loading" class="body">
        <img class="logo" src="../../../assets/img/logo.png" alt="Login">
        <h1>¿Has olvidado tu contraseña?</h1>
        <h6>Ingrese su correo electronico para restablecer su contraseña</h6>
        <form [formGroup]="recuperarUsuario" (ngSubmit)="recuperar()">
            <div class="form-floating mb-3">
                <input type="email" class="form-control" formControlName="correo" placeholder="name@example.com">
                <label  style="font-style: italic;"><i class="bi bi-envelope-fill"></i> Correo Electronico</label>

                <span *ngIf="recuperarUsuario.get('correo')?.hasError('required') && recuperarUsuario.get('correo')?.touched" class="text-danger errorLabel">
                    El <strong>correo</strong> es requerido
                </span>
                <span *ngIf="recuperarUsuario.get('correo')?.hasError('email') && recuperarUsuario.get('correo')?.touched" class="text-danger errorLabel">
                    El <strong>correo</strong> es invalido
                </span>
            </div>
            <div class="d-grid gap-2 mb-3">
                <button type="submit" class="btn btn-primary btn-lg" [disabled]="recuperarUsuario.invalid" >Recuperar</button>
            </div>
            <a routerLink="/login">Volver</a>
        </form>
    </div>
    <app-spinner *ngIf="loading"></app-spinner>
</div>